body {
  font-family: "Arial", sans-serif;
  background-color: black;
  color: black;
}

h1 {
  text-align: center;
  color: red;
}

.container {
  margin-top: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
ul {
  background-color: #333;
}
filled-star {
  color: #ffc107;
}
.empty-star {
  color: #ccc;
}
